<h2 mat-dialog-title>New activity</h2>
<mat-dialog-content>
  <form id="create-activity-form" [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Max</mat-label>
      <input formControlName="max" matInput>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="cancel()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="createOrEdit()" [disabled]="!form.valid" cdkFocusInitial>{{this.validateButtonAction}}</button>
</mat-dialog-actions>
