<div id="header">
  <mat-form-field [formGroup]="searchForm">
    <mat-label>Search..</mat-label>
    <input matInput formControlName="search" type="text" name="search">
  </mat-form-field>
</div>
<div class="activities">
  <mat-card class="activity-card" appearance="outlined" *ngFor="let item of this.activities$ | async | searchPipe : searchForm.controls.search.value">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span>max load: {{item.max}}</span>
      <br>
      <span>training load: {{item.workload}}</span>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="this.openDialog(item.uuid)">Edit</button>
      <button mat-button (click)="this.delete(item.uuid)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
<div id="footer">
  <button mat-fab (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
